html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-image: url('./rox09.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.page-offset {
  padding-top: 64px; 
}

.app-wrapper {
  padding-top: 50px; 
}
